*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

main{
    margin: 2% 10%;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

#title{
    margin-bottom: 4%;
    color: rgb(247, 67, 193);
    font-size: 36px;
}
