*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

main{
    
}

header{
    margin: 40px auto 60px;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    width: 1150px;
}

h2{
    color: white;
}

span{
    line-height: 35px;
}



#title{
    margin-bottom: 4%;
    color: rgb(247, 67, 193);
    font-size: 36px;
}

section{
    margin: 0 auto 50px;
    width: 1277px;
}

.img{
    
    
}

.box-1{
    float: left;
    background-color: black;
    width: calc( (100%/3) - 3%);
    font-family: 'Fredoka One', cursive;
    box-shadow: #dfdfdf 10px -10px 10px -1px;
    
}

.box-2{
    float: left;
    margin-left: 4.5%;
    background-color: black;
    width: calc( (100%/3) - 3%);
    font-family: 'Fredoka One', cursive;
    box-shadow: #dfdfdf 10px -10px 10px -1px;
}

.box-3{
    float: left;
    margin-left: 4.5%;
    background-color: black;
    width: calc( (100%/3) - 3%);
    font-family: 'Fredoka One', cursive;
    box-shadow: #dfdfdf 10px -10px 10px -1px;
   
}

.sub-box-1{
    float: left;
    height: 120px;
    
}

.sub-box-2{
    float: left;
    padding-top: 3%;
    padding-left: 5%;
    color: white;
}